
$primary-color: #652d90;
$secondary-color: #fef200;
.primary {
  color: $primary-color;
}

.secondary {
  color: $secondary-color;
}

.bg-primary {
  background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}
.text-blue{
  color: #0063af;
}
.bg-blue {
  background-color: #0063af;
}
.heebo-light {
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.heebo {
  font-family: "Heebo", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.heebo-bold {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.heebo-medium {
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.section {
  margin-top: 100px;
}

h1 {
  @extend .heebo-bold;
  font-size: 71px;
}

h3 {
  @extend .heebo-light;
  font-size: 36px;
}

h5 {
  @extend .heebo-medium;
  font-size: 3rem;
  color: $primary-color;
}


.header {
  position: absolute;
  top: 0px;
  width: 100%;
  .topbar {
      background-color: transparent !important;
      color: white;
      text-align: right;

      ul {
          display: flex;
          padding-left: 0;
          margin-bottom: 0;
          list-style: none;
          align-items: center;
          justify-content: flex-end;
          .nav-link {
              display: block;
              padding: 0.5rem 1rem;
              text-decoration: none;
              color: white;
              transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
              font-size: 12px;
          }
      }
  }
  .navbar {
      &.scrolled {
          background-color: white !important;
          z-index: 999;
          .navbar-brand-fixed {
              display: block !important;
              img {
                  width: 62%;
              }
          }
          .navbar-brand {
              display: none;
          }
          .nav-item {
              padding: 8px 5px;
              align-self: center;

          }
          .nav-link {
              color: $primary-color !important;
              &.active {
                  color: white !important;
                  background-color: $primary-color;
                  border-radius: 5px;
                  border-radius: 50rem;
                  padding: 4px 15px;
                  &::after {
                      display: none;
                  }
              }
          }
          .navbar-collapse ul {
              border-top: none;
          }
          box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
          .topbar {
              display: none;
          }
          .btn-primary {
              span {
                  display: none;
              }
              .fas {
                  padding-right: 0px !important;
              }
              background-color: transparent !important;
              color: $primary-color;
              border-color: transparent !important;
          }
      }
      background-color: transparent !important;
      width: 100%;
      padding-right: 20px;
      position: fixed;
      z-index: 9;
      .navbar-brand {
          position: relative;
          z-index: 9;
      }
      .navbar-brand-fixed {
          display: none;
      }
      .navbar-collapse ul {
          border-top: 1px solid rgba(255, 255, 255, 0.3);
      }
      .nav-item{
        margin-right: 5px;
        // text-transform: uppercase;
      }
      .nav-link {
          color: white !important;
          position: relative;
          padding-right: 10px;
          padding-left: 10px;
          @extend .heebo;
          &.active,
          &:hover {
              color: $secondary-color !important;
          }
          &.active::after {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f0d7";
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translatex(-50%);
          }
      }
  }

  .badge{
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 8px;
    transform: translate(-75%, 6%) !important;
  }
}

@media only screen and (max-width: 767px) {
  .header {
      .navbar {
          background-color: $primary-color !important;
          &.scrolled .nav-item{
              align-self: flex-start;
              padding: 2px 5px;
          }
      }
  }
}


.mobile-menu{
/* Main menu positionning */
.navbar-brand-fixed{
  display: none;
}
.navbar-brand img{
  width: 150px;
}
&.scrolled{
  .clor{
    background-color: white;
    height: 60px !important;
    min-height: 80px;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
  }

  height: 30px;
  .navbar-brand{
    display: none;
  }

  .navbar-brand-fixed{
    display: block;
    img{
      width: 180px;
    }

  }
}
.navbar-brand, .navbar-brand-fixed{
  position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}
.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #FFF;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all .375s;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
 content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #FEDC2A;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all .275s .1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%; /* Should be 100%, but we have a notice message :D */
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: .5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
transition: all 275ms 375ms
}
/* Decoration */
.main-nav ul,
.main-nav li {
list-style: none;
padding: 0;
}
.main-nav a {
display: block;
padding: 12px 0;
color: #5A3B5D !important;
font-size: 1.4em;
text-decoration: none;
font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
position: fixed;
top: 15px;
padding-top: 20px;
right: 15px;
z-index: 1000;
background: none;
border: 0;
cursor: pointer;
}
.open-main-nav:focus {
outline: none;
}
.burger {
position: relative;
display: block;
width: 28px;
height: 4px;
margin: 0 auto;
background: #0063AF;
transform: skew(5deg);
transition: all .275s;
}

.burger:after,
.burger:before {
content: '';
display: block;
height: 100%;
background: #0063AF;
transition: all .275s;
}

.burger:after {
transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */

.burger-text {
display: block;
font-size: .675rem;
letter-spacing: .05em;
margin-top: .5em;
text-transform: uppercase;
font-weight: 500;
text-align: center;
color: #0063AF;
}

.device {
position: relative;
width: 100%;
min-height: 100vh;
background: #FFF;

border-radius: 3px;

}

.container {
position: absolute;
top: 0; right: 0;
bottom: 0; left: 0;
overflow: hidden;
background: linear-gradient(to bottom, #eee, #ddd);
}



/* Slow motion button */
[id="slowmo"] {
position: absolute;
top: 20px;
right: 20px;
padding: 10px;
border: 0;
font-size: 1rem;
background: #FEDC2A;
color: #5A3B5D;
font-weight: bold;
cursor: pointer;
transition: all .275s;
}

[id="slowmo"] span {
display: block;
font-weight: normal;
}

[id="slowmo"]:hover,
[id="slowmo"]:focus {
background: #5A3B5D;
color: #FEDC2A;
}

[id="slowmo"].is-slowmo span:after {
content: 'Activated';
display: block;
font-weight: bold;
}

/* When slowmotion is activated */

.is-slowmo + .device .open-main-nav .burger,
.is-slowmo + .device .open-main-nav .burger:before,
.is-slowmo + .device .open-main-nav .burger:after,
.is-slowmo + .device .main-nav,
.is-slowmo + .device .main-nav::before,
.is-slowmo + .device .main-nav a {
transition-duration: 3s;
}
.is-slowmo + .device .main-nav li:nth-child(1) a {
transition-delay: 1750ms
}
.is-slowmo + .device .main-nav li:nth-child(2) a {
transition-delay: 2250ms
}
.is-slowmo + .device .main-nav li:nth-child(3) a {
transition-delay: 2750ms
}
.is-slowmo + .device .main-nav li:nth-child(4) a {
transition-delay: 3250ms
}
.is-slowmo + .device .main-nav li:nth-child(5) a {
transition-delay: 3750ms
}

/* Notice */
.notice {
position: absolute;
bottom: -15px;
left: 0; right: 0;
padding: 20px;
background: #F2F2F2;
color: #5A3B5D;
font-size: 14px;
font-weight: 400;
line-height: 1.5;
z-index: 100;
text-align: center;
}
.notice strong {
font-weight: 700;
}
.notice a {
padding: 2px 3px;
background: #FEDC2A;
text-decoration: none;
}

}