<section class="page-title-section services-banner">
  <div class="c-3"></div>
  <div class="overlay px-5 d-flex flex-column align-items-center justify-content-center">
      <h5 class="secondary text-center mb-4">
          {{ service.name }}
      </h5>
  </div>
  <div class="bt_bb_section_bottom_section_coverage_image">
      <svg class="img-fluid" width="1434" height="284" viewBox="0 0 1434 284" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 6.5C226 -49 425.5 283.1 602.5 271C779.5 258.9 784.1 196.7 906.5 177C982 164.8 1061 262 1180 278.8C1255.4 289.5 1343 177 1434 127V284H0V6.5Z" fill="#ffffff"/>
      </svg>
  </div>
</section>


  
<section class="service-details services">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <div class="">
              <img src="assets/images/stire.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6">
          <h5 class="text-blue">
            {{service.name}}
          </h5>
          <div innerHTML="{{service.content}}"></div>
  
           <div innerHTML="{{service.content2}}"></div>
        </div>
      </div>
  
  
    </div>
  </section>
  