<section class="page-title-section privacy-banner">
    <div class="c-3"></div>
    <div class="overlay d-flex flex-column align-items-center justify-content-center">
      <h3>Privacy Policy</h3>
    </div>
    <div class="bt_bb_section_bottom_section_coverage_image">
      <img src="assets/images/wave.png" alt="bt_bb_section_bottom_section_coverage_image" class="img-fluid">
    </div>
  </section>
  
  <section class="privacy">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            Invictussolutions.co is the website of Invictus Solutions, the leading software development company in Pakistan. 
            We hope you enjoy your visit. In order to better serve your needs and enhance your overall experience at Invictussolutions.co, 
            we collect certain information about you when you visit us.
          </p>
  
          <h3>How We Protect Your Information?</h3>
          <p>
            We employ the latest encryption and security technology in all areas where you provide us with personal or account information. 
            This is done to protect you from unauthorized use of the information you are sending to our server.
          </p>
  
          <h3>What Information Do We Collect and How Do We Use It?</h3>
          <p>
            When you visit our website, our server automatically recognizes your Internet Protocol address (IP address) or domain name. 
            We may track the way our visitors and customers use the site, but personal information like your name and email is not included in this analysis.
          </p>
  
          <p>
            If you provide us with your postal address, email address, or telephone number, you may receive our catalog or other promotional mailings. 
            If you do not wish to receive these, please email us at 
            <a class="nav-link d-inline p-0" href="mailto:info&#64;invictussolutions.co">info&#64;invictussolutions.co</a>.
          </p>
  
          <h3>How to Opt-Out of Direct Marketing?</h3>
          <p>
            If you do not wish to receive emails from us, please send an email with your request to opt-out.
          </p>
  
          <ul style="list-style: none;">
            <li><i class="fa fa-angle-double-right"></i> Invictus Solutions PVT Limited</li>
            <li><i class="fa fa-angle-double-right"></i> 31, Regency Arcade, The Mall, Faisalabad, Pakistan</li>
            <li><i class="fa fa-angle-double-right"></i> Phone: +92(041)2408084</li>
            <li><i class="fa fa-angle-double-right"></i> 
              Website: <a class="nav-link d-inline p-0" href="https://invictussolutions.co">https://invictussolutions.co</a>
            </li>
          </ul>
  
          <h3>Links</h3>
          <p>
            Our site contains links to external websites. We are not responsible for their privacy practices or content.
          </p>
  
          <h3>Consent</h3>
          <p>
            By using our website, you consent to our Privacy Policy. Any changes will be posted on this page.
          </p>
  
          <h3>Refund Policy</h3>
          <p>
            We will notify you about your refund status after inspecting the case. If approved, we will initiate a partial or full refund.
          </p>
        </div>
      </div>
    </div>
  </section>
  