<section class="page-title-section about">
    <div class="c-3"></div>
    <div class="overlay d-flex flex-column align-items-center justify-content-center">
      <h3>About Us</h3>
      <p class="px-5 text-center">
        Invictus Solutions Pvt (Ltd) is an IT Software Company founded in 2017.
        Invictus Solutions is a top software house in Pakistan and also a registered company in Pakistan (PSEB).
      </p>
    </div>
    <div class="bt_bb_section_bottom_section_coverage_image">
      <img [src]="'assets/images/waves/wave-grey.png'" alt="Wave Grey Image" class="img-fluid" />
    </div>
  </section>
  
  <section class="ceo">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="img-group">
            <div class="c1"></div>
            <div class="c2"></div>
            <img [src]="'assets/images/about/CEO.png'" class="img-fluid ceo-img" alt="CEO Image" />
          </div>
        </div>
        <div class="col-lg-8">
          <div class="d-flex h-100 px-md-5 flex-column justify-content-center">
            <h3 class="h3 fw-normal">Farhan Tufail, CEO</h3>
            <h2 class="mt-4 display-2 text-blue fw-bold">Our Approach Is Different!</h2>
            <p>
              At a Glance, when software helps you dream big, it's right! Since its inception, Invictus has been operating
              with the ideology of adapting to the future. Our approach is different we not only help our clients adopt
              new technology with agility, but we also facilitate them in sustaining that change.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="ceo-cards">
    <div class="container">
      <div class="row">
        @for ( card of ceoCards; track card.id) {
          <div class="col-lg-4 mb-5 mb-lg-0 col-md-6">
            <div class="card h-100 shadow" [class.yellow]="card.id === 2" [attr.data-aos]="'fade-up'" [attr.data-aos-duration]="card.duration">
              <div class="card-body py-4 px-5">
                <div class="mb-4">
                  <img [src]="'assets/images/about/trust icon.png'" alt="Trust Icon" />
                </div>
                <h6 class="text-blue mt-4">{{ card.title }}</h6>
                <p class="description">{{ card.description }}</p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
  
  <section class="ios">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img class="iso-picture img-fluid" [attr.data-aos]="'fade-up'" [attr.data-aos-duration]="'300'"
            [src]="'assets/images/about/iso-certified.png'" alt="ISO Certified" />
        </div>
  
        <div class="col-lg-6 mt-5" [attr.data-aos]="'fade-right'" [attr.data-aos-duration]="'500'">
          <h2 class="certified sub-heading text-blue fw-bold pt-2">ISO Certified</h2>
          <p class="certified-paragraph pt-3">
            Invictus Solution takes immense pride in being an ISO Certified organization, a testament to our unwavering
            commitment to delivering unparalleled quality and excellence.
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="strategy about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-5" [attr.data-aos]="'fade-right'" [attr.data-aos-duration]="'500'">
          <div class="d-flex h-100 flex-column justify-content-center">
            <h3 class="sub-heading text-blue fw-bold">Our Mission</h3>
            <p>
              We are in the business of digital transformation. Take full advantage of technology, expertise and ability
              to simply allow our clients to meet their future today.
            </p>
            <ul class="list-unstyled">
              @for ( mission of missionList; track mission.id) {
                <li class="mb-3 d-flex align-items-center">
                  <i class="fas fa-check p-1 text-blue border border-primary rounded-circle me-3"></i>
                  {{ mission.text }}
                </li>
              }
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="wrapper position-relative">
            @for ( img of strategyImages; track img.id) {
              <img [src]="'assets/images/' + img.src" class="img-fluid" [attr.data-aos]="img.animation" />
            }
          </div>
          <div class="mbl-img">
            <img [src]="'assets/images/Stratgy/Stratgy-image.png'" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="industries pb-5 bg-white mb-md-0 vision">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="wrapper my-5 position-relative">
            <img
              [src]="'assets/images/industries/circle 2.png'"
              alt=""
              aos
              aosAnimation="fade-left"
              aosOffset="300"
              aosDuration="500"
              aosEasing="ease-in-sine"
            />
            <img
              [src]="'assets/images/industries/circle1.png'"
              alt=""
              aos
              aosAnimation="fade-right"
              aosOffset="300"
              aosDuration="500"
              aosEasing="ease-in-sine"
            />
            <img
              [src]="'assets/images/industries/circle3.png'"
              alt=""
              aos
              aosAnimation="fade-left"
              aosOffset="300"
              aosDuration="500"
              aosEasing="ease-in-sine"
            />
            <img
              [src]="'assets/images/industries/Layer85.png'"
              alt=""
              aos
              aosAnimation="fade-right"
              aosOffset="300"
              aosDuration="500"
              aosEasing="ease-in-sine"
            />
            <img
              [src]="'assets/images/industries/Layer84.png'"
              alt=""
              aos
              aosAnimation="fade-down"
              aosOffset="300"
              aosDuration="500"
              aosEasing="ease-in-sine"
            />
            <img
              [src]="'assets/images/industries/Layer86.png'"
              alt=""
              aos
              aosAnimation="fade-right"
              aosOffset="300"
              aosDuration="500"
              aosEasing="ease-in-sine"
            />
          </div>
  
          <div class="mbl-img">
            <img
              [src]="'assets/images/industries/industries-we serve.png'"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
  
        <div
          class="col-lg-7"
          aos
          aosAnimation="flip-right"
          aosOffset="300"
          aosDuration="500"
          aosEasing="ease-in-sine"
        >
          <div
            class="d-flex h-100 mt-3 mt-md-5 text-start flex-column justify-content-center"
          >
            <h3 class="sub-heading text-blue fw-bold">Our Vision</h3>
            <p>
              In today’s world, it is essential to be mindful of human needs and
              become increasingly more human responsive. Objectively, the needs of
              your human resources need to be addressed incipiently before
              expectations of outcome can be imagined. In earnest, quality will
              follow once their needs are met unreservedly. Your humans will go on
              and bring out an effectual change that influences how humans of the
              world interact with your product.
            </p>
            <p>
              Secondly, reality is, most firms are business-driven, pursuing
              business goals rather than aligning their aims to meet those of the
              clients. This encumbered approach incessantly inhibits growth and is
              void of any benefits that might create an effectual change in the
              world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <section class="affiliations ceo-cards">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="sub-heading text-blue text-center fw-bold">
            Our Affiliations
          </h3>
          <p class="mb-5">
            Invictus Solutions has gained a recognized position among Pakistani
            corporations due to its steadfast commitment to training and
            development initiatives. Invictus Solutions has ushered in a new era of
            history. Invictus Solutions is a registered business and is associated
            with the following prestigious organizations in both the public and
            private sectors:
          </p>
        </div>
  
        <!-- Corrected @for loop with tracking -->
        @for (affiliation of affiliations; track affiliation.id) {
          <div class="col-md-4 text-center mb-3">
            <div
              class="card mx-3 h-100 shadow"
              [class.yellow]="affiliation.isYellow"
              aos
              aosAnimation="fade-up"
              aosDuration="500"
            >
              <div class="card-body py-4 px-5">
                <div class="img-holder">
                  <img [src]="affiliation.imgSrc" alt="Affiliation Logo" />
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>


  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-flex h-100 mt-3 mt-md-5 text-start flex-column justify-content-center">
            <div 
              class="heading text-center" 
              data-aos="flip-down" 
              data-aos-offset="300" 
              data-aos-duration="500" 
              data-aos-easing="ease-in-sine">
              <h5>WHY CHOOSE US</h5>
            </div>
  
            <div 
              class="sub-heading text-center" 
              data-aos="flip-down" 
              data-aos-offset="300" 
              data-aos-duration="700" 
              data-aos-easing="ease-in-sine">
              <h3>WHAT WE BELIEVE IN VALUES</h3>
            </div>
  
            <div class="row mt-5 our-values">
              @for (value of valuesData; track value.title) {
                <div class="col-md-4 mb-5">
                  <div class="d-flex">
                    <div class="me-3">
                      <i class="far fa-check-circle"></i>
                    </div>
                    <div>
                      <h4 class="">{{ value.title }}</h4>
                      <p>{{ value.description }}</p>
                    </div>
                  </div>
                </div>
              }
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
 
  
  
  
  


  
  